// Mixins

//Make the Bootstrap Navbar overlay first section
@mixin navbar-overlay($style: light){

	@extend .navbar-fixed-top;
	position: absolute;


	@if $style == 'dark'{
		@extend .navbar-dark;
	}

}


@mixin primary($element){

	@if $element == 'background'{
		background-color: $brand-primary;
	}

	@if $element == 'buttons'{
		.btn-primary{
			@include button-variant(#fff !important, $brand-primary, $brand-primary);
		}
	}

	@if $element == 'copy'{
		color: $brand-primary;
	}

}

@mixin secondary($element){

	@if $element == 'background'{
		background-color: $statik-brand-secondary;
	}

	@if $element == 'buttons'{
		.btn-primary{
			@include button-variant(#fff !important, $statik-brand-secondary, $statik-brand-secondary);
		}
	}

	@if $element == 'copy'{
		color: $statik-brand-secondary;
	}

}


@mixin light($element){

	@if $element == 'background'{
		background-color: $gray-lightest;
	}

	@if $element == 'buttons'{
		.btn-primary{
			@include button-variant($brand-primary !important, $gray-lightest, $gray-lightest);
		}
	}

	@if $element == 'copy'{
		color: $gray-lightest;
	}

}

@mixin white($element){

	@if $element == 'background'{
		background-color: #fff;
	}

	@if $element == 'buttons'{
		.btn-primary{
			@include button-variant($brand-primary !important, #fff, #fff);
		}
	}

	@if $element == 'copy'{
		color: #fff;
	}

}


@mixin dark($element){

	@if $element == 'background'{
		background-color: $gray-dark;
	}

	@if $element == 'buttons'{
		.btn-primary{
			@include button-variant($gray-lightest !important, $gray-dark, $gray-dark);
		}
	}

	@if $element == 'copy'{
		color: #333;
	}

}

@mixin outlined-buttons{

}

@mixin uppercase-headlines{
	h1,h2,h3,h4,h5,h5,h6{
		text-transform: uppercase;
	}
}


@mixin borders{
	border-top: 1px solid $gray-lighter;
	border-bottom: 1px solid $gray-lighter;

}

@mixin gradient{

	&:before{
	    content: " ";
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;
		background: linear-gradient(135deg, rgba(24,42,114,1) 0%,rgba(33,144,176,1) 67%,rgba(32,167,172,1) 100%);
	}

}

@mixin mute-image($style){
	&:before{
	    content: " ";
	    width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0;
	    left: 0;

	    @if $style == 'dark'{
	    	background: rgba(0,0,0,0.7);
	    }

	    @if $style == 'light'{
	    	background: rgba(255,255,255,0.2);
	    }
	}
}


@mixin anti-aliased{
	-webkit-font-smoothing: antialiased;
}


@mixin section-padding($padding-top: 8rem, $padding-bottom: 8rem){
	padding-top: $padding-top;
	padding-bottom: $padding-bottom;
}

@mixin background-image($url, $blend-mode: normal){
	background: url($url) no-repeat center center;
	background-size: cover;
	background-blend-mode: $blend-mode;
}

@mixin unsplash-it($id){
	background:{
		image: url('https://unsplash.it/2000/900?image=#{$id}');
		size: cover;
		repeat: no-repeat;
		position: center center;

	}
}
